/* ------------- Espaciadores ------------- */
.spacer5 { margin:0; padding:0; height:5px; }

.spacer10 { margin:0; padding:0; height:10px; }

.spacer20 { margin:0; padding:0; height:20px; }

.spacer30 { margin:0; padding:0; height:30px; }

.spacer40 { margin:0; padding:0; height:40px; }

.spacer50 { margin:0; padding:0; height:50px; }

.spacer120 { margin:0; padding:0; height:120px; }

.spacer150 { margin:0; padding:0; height:150px; }
/* ------------- ./Espaciadores ------------- */

/* ------------- Borde para Contenido y Centrado de Contenido ------------- */
/*.contenedor_contenido {
    width:90%;
    margin: 0% auto;
    padding:1%;
    font-size: 12px;   
    color: #141414;
    border: 1px solid #EAE8E8;
    margin-top: 0% auto; 
    position: fixed;
    top: 12em;
    left: 0;
    height: calc(82vh - 4em);
    overflow-y: auto;
    position: relative;
}
*/
/*.squares {
    margin-left:5%;
    margin-right:auto;
}*/

body {
    margin: 0;
    overflow: hidden;
    background-color: #F7F7F8;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2em;
}
/* ------------- ./Borde para Contenido y Centrado de Contenido ------------- */

/* ------------- Posicionamiento de Barra Menu y Pie de Página ------------- */
/*.navbar-bottom {
    bottom: 0;
    margin-bottom: -8px;
    border-width: 1px 0 0;
}*/

.footer-bottom {
    bottom: 0;
    margin-bottom: -24px;
    border-width: 1px 0 0;
}
/* ------------- ./Posicionamiento de Barra Menu y Pie de Página ------------- */

/* ------------- Creo que ayuda a darle Responsive a las imágenes ------------- */
.img { 
    max-width: 100%; 
}
/* ------------- ./Creo que ayuda a darle Responsive a las imágenes ------------- */

/* ------------- Posicionamiento de Barra Menu y Pie de Página ------------- */

/* ------------- Color Cabecera de DataTables ------------- */
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #f4f4f4;
    color: #333333;
}
/* ------------- ./Color Cabecera de DataTables ------------- */

/**************************** NAV BAR *************************************/
.navbar-ct-red {
    /* Fallback (could use .jpg/.png alternatively) */
    background-color: #F7F7F8;

    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image:
      -webkit-gradient(linear, left top, right top, from(#F7F7F8), to(#F7F7F8));

    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image:
      -webkit-linear-gradient(#F7F7F8, #F7F7F8);

    /* Firefox 3.6 - 15 */
    background-image:
      -moz-linear-gradient(#F7F7F8, #F7F7F8);

    /* Opera 11.1 - 12 */
    background-image:
      -o-linear-gradient(#F7F7F8, #F7F7F8);

    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image:
      radial-gradient(#F7F7F8, #F7F7F8);

    order-color: ##F7F7F8;
}
.navbar-ct-red .navbar-brand {
  color: #F7F7F8;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.navbar-ct-red .navbar-brand:hover, .navbar-ct-red .navbar-brand:focus {
  color: #F7F7F8;
}
.navbar-ct-red .navbar-text {
  color: #000;
}
.navbar-ct-red .navbar-nav > li > a {
  color: #000;
}
.navbar-ct-red .navbar-nav > li > a:hover, .navbar-ct-red .navbar-nav > li > a:focus {
  color: #000;
}
.navbar-ct-red .navbar-nav > li > .dropdown-menu {
  background-color: #000;
}
.navbar-ct-red .navbar-nav > li > .dropdown-menu > li > a {
  color: #000;
}
.navbar-ct-red .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-ct-red .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000;
  background-color: #F7F7F8;
}
.navbar-ct-red .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000;
}
.navbar-ct-red .navbar-nav > .active > a, .navbar-ct-red .navbar-nav > .active > a:hover, .navbar-ct-red .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #F7F7F8;
}
.navbar-ct-red .navbar-nav > .open > a, .navbar-ct-red .navbar-nav > .open > a:hover, .navbar-ct-red .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #F7F7F8;
}
.navbar-ct-red .navbar-toggle {
  border-color: #F7F7F8;
}
.navbar-ct-red .navbar-toggle:hover, .navbar-ct-red .navbar-toggle:focus {
  background-color: #000;
}
.navbar-ct-red .navbar-toggle .icon-bar {
  background-color: #F7F7F8;
}
.navbar-ct-red .navbar-collapse,
.navbar-ct-red .navbar-form {
  border-color: #F7F7F8;
}
.navbar-ct-red .navbar-link {
  color: #000;
}
.navbar-ct-red .navbar-link:hover {
  color: #000;
}

.navbar-ct-red .navbar-nav > .active > a,
.navbar-ct-red .navbar-nav > .active > a:hover,
.navbar-ct-red .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #F7F7F8;
}

.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 2em !important;
    padding-left: 0;
}

/**************************** ./NAV BAR *************************************/

.navbar-brand {
    min-height: 2px;
    height: 15px;
    line-height: 25px;
    padding: 8px;
}

.navbar-fixed-top {
    min-height: 15px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 25px;
}

.navbar-brand-alt {
    min-height: 2px;
    height: 15px;
    line-height: 18px;
    padding: 18px;
}

/**************************** Login *************************************/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #000;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px #faede7;
    -webkit-box-shadow: 0px 2px 2px #faede7;
    box-shadow: 0px 2px 2px #faede7;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #faede7;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-name {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputName,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=name],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #000,0 0 8px #000;
    box-shadow: inset 0 1px 1px #000,0 0 8px #000;
}

.btn.btn-signin {
    background-color: #0099CC;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #0e71b4;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/**************************** ./Login *************************************/

/****************************  Contenedor para Notificaciones  *************************************************/
.contenedor_notificaciones {
    width:100%;
    margin: 0% auto;
    padding:0%;
    font-size: 12px;   
    border: 0px solid #FFF;
    margin-top: 0% auto; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    position: relative;
}
/****************************  ./Contenedor para Notificaciones  *************************************************/

/****************************  Contenedor para Vistas  *************************************************/
.contenedor_vistas {
    width:100%;
    margin: 0% auto;
    padding:1%;
    font-size: 12px;   
    color: #141414;
    margin-top: 0% auto; 
    position: fixed;
    top: 12em;
    left: 0;
    height: calc(82vh - 4em);
    overflow-y: auto;
    position: relative;
}
/****************************  ./Contenedor para Vistas  *************************************************/

/***************************** divisor *********************************/
hr {
  border-color: #000;
}
/***************************** ./divisor *********************************/

nav {
    color: #FFF !important;
    background-color: #000 !important;
    width: 100% !important;
    height: 56px !important;
    line-height: 26px !important;
}

/**************************** GUTTER **************************************/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 1px;
  padding-left: 0;
}
/**************************** ./GUTTER **************************************/
.cabecera-tabla {
    background-color: #000 !important;
    color: white !important;
    font-weight: bold !important;
}

.float-right {
    float: right;
}

.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #000;
}
.form-control::-webkit-input-placeholder {
  color: #000;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.table-bordered {
    border: 1px solid #000 !important;
}

.table > thead > tr > th, 
.table > tbody > tr > th,
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 3.5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

.table > tbody > tr > th, 
.table > tbody > tr > td {
    border-top: 0px solid #000 !important;   
    border-bottom: 0px solid #000 !important;   
    border-right: 0px solid #000 !important;   
    border-left: 0px solid #000 !important;   
}

.table > tbody > tr > td {
    background-color: #c1c1c1 !important;
}

table {
    border-collapse: separate !important;
}

.tableHeadersRightSmaller {
    text-align: center;
    font-weight: bold;
    width: 95px !important;
    border: transparent !important;
    background-color: transparent !important;
    color: black !important;
    padding: 0em !important;
    height: 50% !important;
}

.tableHeadersRightSmallerBlack {
    text-align: center;
    font-weight: bold;
    width: 95px !important;
    border: transparent !important;
    background-color: transparent !important;
    color: #000 !important;
    padding: 0em !important;
    height: 50% !important;
}

textarea {
    background-color: #dddddd !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.modal-dialog {
    margin: 10px auto !important;
}

.white-font {
    color: black !important;
    font-weight: bold !important;
    vertical-align: middle !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #000 !important;
    font-weight: bold !important;
    line-height: 22px !important;
    height: 1.6em !important;
    background-color: transparent !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px !important;
    position: absolute !important;
    top: 1px !important;
    right: 1px !important;
    width: 20px !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single {
    border: solid 1px transparent !important;
    background-color: transparent !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000 !important;
    line-height: 28px;
}

.btn-danger {
    color: #000;
    background-color: #c64c4d;
    border-color: #c64c4d;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d43f3a;
    border-color: #d43f3a;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    h3,
    .h3 {
        font-size: 16px !important;
        color:#000 !important;
    }
    .h3-motos {
        font-size: 16px !important;
        color:#000 !important;
    }

    .s-width {
        width: 90%;
    }

    .contenedor_contenido {
        width:92% !important;
        margin: 0% auto !important;
        padding:1% !important;
        font-size: 12px !important;   
        color: #141414 !important;
        border: 0px solid #EAE8E8 !important;
        margin-top: 0% auto !important; 
        position: fixed !important;
        top: 5em !important;
        left: 1em !important;
        height: calc(93vh - 4em) !important;
        overflow-y: auto !important;
        position: relative !important;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    h3,
    .h3 {
        font-size: 18px !important;
        color:#000 !important;
    }
    .h3-motos {
        font-size: 16px !important;
        color:#000 !important;
    }
    
    .s-width {
        width: 90%;
    }

    .contenedor_contenido {
        width:95% !important;
        margin: 0% auto !important;
        padding:1% !important;
        font-size: 12px !important;   
        color: #141414 !important;
        border: 0px solid #EAE8E8 !important;
        margin-top: 0% auto !important; 
        position: fixed !important;
        top: 8em !important;
        left: 1em !important;
        height: calc(77vh - 4em) !important;
        overflow-y: auto !important;
        position: relative !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h3,
    .h3 {
        font-size: 18px !important;
        color:#000 !important;
    }
    .h3-motos {
        font-size: 16px !important;
        color:#000 !important;
    }

    .s-width {
        width: 90%;
    }

    .contenedor_contenido {
        width: 95% !important;
        margin: 0% auto !important;
        padding:1% !important;
        font-size: 12px !important;   
        color: #141414 !important;
        border: 0px solid #EAE8E8 !important;
        margin-top: 0% auto !important; 
        position: fixed !important;
        top: 6em !important;
        left: 1.25em !important;
        height: calc(94vh - 4em) !important;
        overflow-y: auto !important;
        position: relative !important;
    }

    .navbar-ct-red .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff !important;
    }
    .navbar-ct-red .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-ct-red .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000 !important;
    }
    .navbar-ct-red .navbar-nav .open .dropdown-menu > .active > a, .navbar-ct-red .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-ct-red .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000 !important;
        background-color: #FFFFFF !important;
    }

    .navbar-nav > li > a {
        line-height: 20px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-brand {
        min-height: 2px !important;
        height: 20px !important;
        line-height: 15px !important;
        padding: 18px !important;
    }

    .navbar-brand-alt {
        min-height: 2px !important;
        height: 20px !important;
        line-height: 15px !important;
        padding: 18px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    h3,
    .h3 {
        font-size: 22px !important;
        color:#000 !important;
        vertical-align: top;
    }
    .h3-motos {
        font-size: 18px !important;
        color:#000 !important;
        vertical-align: top;
    }

    .s-width {
        width: 90%;
    }

    .contenedor_contenido {
        width: 97% !important;
        margin: 0% auto !important;
        padding:1%;
        font-size: 12px !important;   
        color: #141414 !important;
        border: 0px solid #EAE8E8 !important;
        margin-top: 0% auto !important; 
        position: fixed !important;
        top: 6em !important;
        left: 1.20em !important;
        height: calc(92vh - 4em) !important;
        overflow-y: auto !important;
        position: relative !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h3,
    .h3 {
        font-size: 24px !important;
        color:#000 !important;
    }
    .h3-motos {
        font-size: 20px !important;
        color:#000 !important;
    }

    .s-width {
        width: 90%;
        height: 25% !important;
    }

    .contenedor_contenido {
        width: 100% !important;
        margin: 0% auto !important;
        padding: 0% !important;
        font-size: 12px !important;   
        color: #141414 !important;
        border: 0px solid #EAE8E8 !important;
        margin-top: 0% auto !important; 
        position: fixed !important;
        top: 6em !important;
        left: 0em !important;
        height: calc(92vh - 4em) !important;
        overflow-y: auto !important;
        position: relative !important;
    }
}